{% extends 'shop/basic.html' %}

{% block title %} About us! {% endblock %}


{% block body %}
<p>

    <main>
  <div class="container py-4">


    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">NuHu CLoset!</h1>
        <p class="col-md-8 fs-4">Nuhu Closet was founded on 4 February 2010 as a daily
            deals platform, and expanded in September 2011 to become an online marketplace.[4] Snapdeal
            has grown to become one of the largest online marketplace in India.[5] Snapdeal’s focus is on the value ecommerce segment
            - a market that is three times larger than the size of the branded goods market.[6] Sellers on Snapdeal offer good quality
            / regional / seller  branded)  merchandise, that offers customers value-for-money options, similar to what would sell in local
            markets and high streets in a city. Fashion, home and general merchandise account for a majority of the products sold by more
            than 500,000 independent sellers on Snapdeal platform.[7] Buyers from more than 3,700 towns across India—accounting for 92% of
            India’s total 4,000 towns and cities—shop on Snapdeal.
        </p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2></h2>
          <p></p>
          <button class="btn btn-outline-light" type="button"></button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2></h2>
          <button class="btn btn-outline-secondary" type="button"></button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; Nuhu Closet 2021
    </footer>
  </div>
</main>

</p>



{% endblock %}